body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
.card-img {
    background-size: cover;
    background-position: center;
    height: 500px;
}

.btn-explore {
    transition: background-color 0.3s ease;
}

.btn-explore:hover {
    background-color: #f97316;
}